<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="app">
<head>
    <meta charset="utf-8" /> 
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/main.css" rel="stylesheet"/>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.min.js"></script>
    <script src="js/main.js"></script>
    <title>Filter</title>
</head>
<body>
    <div ng-controller="mainCtrl">
        <div class="panel well">
            <h2>Filter</h2>
            <button data-category="1" ng-click="filter_images($event)" class="btn btn-lg btn-info">Category 1</button>
            <button data-category="2" ng-click="filter_images($event)" class="btn btn-lg btn-success">Category 2</button>
            <button data-category="3" ng-click="filter_images($event)" class="btn btn-lg btn-warning">Category 3</button> 
            <button data-category="all" ng-click="filter_images($event)" class="btn btn-lg btn-danger">Show All</button>
        </div>
        <div class="panel">
            <div class="row">
                <div class="img-container" ng-repeat="image in images | filter: image_filter">
                    <img class="img-responsive" src={{image.src}} data-category={{image.category}}/>
                </div>
            </div>
        </div>
    </div>
</body>
</html>